
body {
    background: -webkit-linear-gradient(pink, purple);
}

.button-container {
    text-align: center;
}

button {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: purple;
    color: white;
}
